<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex flex-wrap justify-start p-2">
     <nav class="container container-fluid display-flex flex-wrap col-3 align-start justify-start justify-space-between">
         <a href="/home">Home</a>
         <a href="/dashboard">Dashboard</a>
        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
      <h1 class="container display-flex flex-wrap align-start justify-start">
        {{#if "/home"}}
        The Tech Blog
        {{else}}
        Dashboard
        {{/if}}
      </h1>
    </header>
    <main class="container container-fluid mt-5">

      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
